<mat-sidenav-container class="sidenav-container">
  <mat-sidenav id="mainSidenav" #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a id="homeSidenavLink" mat-list-item routerLink="/home">Home</a>
      <a id="loginSidenavLink" mat-list-item routerLink="/login">Login</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar id="mainToolbar" color="primary">
      <button
        id="sidenavHamburger"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <!-- Commenting this out allows the button to appear in non-mobile mode -->
        <!--*ngIf="isHandset$ | async">-->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Behn's Test Login App</span>
      <!-- This spaces out the title and the rest of the toolbar links -->
      <span class="spacer"></span>
      <a id="homeToolbarLink" routerLink="/home">Home</a>
      <a id="loginToolbarLink" routerLink="/login">Login</a>
    </mat-toolbar>
    <!-- This area allows the router content within the app.component.html to be rendered -->
    <!-- Anything within the tags of the component gets rendered due to the ng-content -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
